<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        {{> header}}
        <p>Welcome {{name}}</p>
        <p>{{screamIt name}}</p>  
        {{> footer}}
    </body>
</html>